[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pip = "*"
ipywidgets = "*"
langchain = "*"
pypdf = "*"
sentence-transformers = "*"
chromadb = "*"
llama-cpp-python = "*"
gradio = "==3.48.0"

[dev-packages]

[requires]
python_version = "3.8"
